{% extends 'base.html' %}

{% block title %}Список задач{% if request.user.profile.username %} : {{ request.user.profile.username }}{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center m-xl">Мои задачи</h2>
    <h5 class="text-left"><a href="{% url 'todo_create' %}?next=/todo" class="tag tag--pill tag--main"><i
            class="fa-solid fa-circle-plus"> Добавить задачу</i></a></h5>

    <div class="grid grid--two">
        <div class="column">
            <div class="card card--dark">
                <h5 class="text-center m-sm">Активные задачи</h5>

                <div class="card__body">
                    {% if todos %}
                    {% for todo in todos %}
                    {% if todo.important %}
                    <div class="card card--important">
                        {% else %}
                        <div class="card">
                            {% endif %}
                            <div class="layout">
                                <div class="column column--2of3">
                                    <div class="column">
                                        <h5><a href="{% url 'todo_update' todo.id %}?next=/todo">{{ todo.title|truncatechars:25 }}</a></h5>
                                    </div>
                                    {% if todo.description %}
                                        <div class="column">
                                            <p><a href="{% url 'todo_update' todo.id %}?next=/todo">{{ todo.description|truncatechars:30 }}</a></p>
                                        </div>
                                    {% endif %}
                                    <div class="column">
                                            <p><a href="{% url 'todo_update' todo.id %}?next=/todo">Добавлено: {{ todo.created.date }} в {{ todo.created.time }}</a></p>
                                    </div>
                                    <form action="{% url 'todo_complete' todo.id %}" method="POST" style="display: inline-block;">
                                        {% csrf_token %}
                                        <input class="btn btn--md" type="submit" value="Завершить">
                                    </form>
                                    <form action="{% url 'todo_delete' todo.id %}" method="POST" style="display: inline-block;">
                                        {% csrf_token %}
                                        <input class="btn btn--md" type="submit" value="Удалить" onclick="return confirm_delete('Вы действительно хотите удалить эту задачу?')">
                                    </form>
                                </div>
                                <div class="column column--1of3">
                                    <a href="{% url 'todo_update' todo.id %}?next=/todo"><i class="fa-solid fa-pen-to-square"> Редактировать</i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% include 'pagination.html' with queryset=todos custom_range=custom_range_todos %}
                        {% else %}
                        <div class="card">
                            <h6 class="text-center m-md">Похоже, что у вас нет активных задач.</h6>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="card card--dark">
                    <h5 class="text-center m-sm">Завершенные задачи</h5>
                    <div class="card__body">
                        {% if completed_todos %}
                        {% for todo in completed_todos %}
                        {% if todo.important %}
                        <div class="card card--important">
                            {% else %}
                            <div class="card">
                                {% endif %}
                                <div class="layout">
                                    <div class="column column--1of3">
                                        <form action="{% url 'todo_uncompleted' todo.id %}" method="POST">
                                            {% csrf_token %}
                                            <input class="btn btn--md" type="submit" value="Восстановить">
                                        </form>
                                        <br>
                                        <form action="{% url 'todo_delete' todo.id %}" method="POST">
                                            {% csrf_token %}
                                            <input class="btn btn--md" type="submit" value="Удалить" onclick="return confirm_delete('Вы действительно хотите удалить эту задачу?')">
                                        </form>
                                    </div>
                                    <div class="column column--2of3">
                                        <div class="column">
                                            <h5><a href="{% url 'todo_update' todo.id %}?next=/todo">{{ todo.title|truncatechars:25 }}</a></h5>
                                        </div>
                                        {% if todo.description %}
                                            <div class="column">
                                                <p><a href="{% url 'todo_update' todo.id %}?next=/todo">{{ todo.description|truncatechars:30 }}</a></p>
                                            </div>
                                        {% endif %}
                                        <div class="column">
                                            <p><a href="{% url 'todo_update' todo.id %}?next=/todo">Завершено: {{ todo.date_completed.date }} в {{ todo.date_completed.time }}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% include 'pagination.html' with queryset=completed_todos custom_range=custom_range_completed_todos %}
                            {% else %}
                            <div class="card">
                                <h6 class="text-center m-md">Похоже, что у вас нет завершенных задач.</h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}