{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock%}
{% block content %}
<main class="formPage my-lg background-pattern">
    <div class="content-box text-left">
        <div class="card text-left">
            <div class="card__body dev">
                <img class="avatar home--page" src="{% static 'images/home_page/image_for_home_page.png' %}" alt="">
                <div class="border_line">
                    <p>
                        Добро пожаловать на мой сайт портфолио!<br><br>
                        Я начинающий веб-разработчик, специализирующийся на фреймворке Django.
                        На данном сайте Вы можете найти информацию обо мне и посмотреть мои работы и проекты,
                        которые я реализовал в ходе обучения и самостоятельной работы.<br>
                        Мои навыки включают в себя:<br></p>
                    <ul>
                        <li>Основы языка Python</li>
                        <li>Разработку веб-приложений с использованием Django</li>
                        <li>Разработку приложений с графическим интерфейсом с использованием PyQt</li>
                        <li>Работу с базами данных, такими как SQLite, MySQL</li>
                        <li>Использование HTML, CSS, JavaScript для создания интерфейса приложений</li>
                    </ul>
                    <p>
                        Я стремлюсь постоянно улучшать свои навыки и развиваться в области веб-разработки, поэтому я
                        всегда рад принимать новые вызовы и участвовать в интересных проектах.<br>
                        Если у Вас есть предложения по сотрудничеству или Вы хотите узнать больше, то свяжитесь со мной
                        через любые соцсети в <a class="singleProject__liveLink" style="color: var(--color-main)" href="{% url 'profile_user' profile.id %}">профиле</a>, либо же
                        внутренние
                        сообщения там же.
                        Буду рад ответить на Ваши вопросы и предложения. <br>Спасибо, что заглянули на мою страницу.
                        Надеюсь, что Вы увидете здесь что-то интересное для
                        себя.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}