{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page }}{% endblock %}

{% block content %}
    {% if page == 'Регистрация' %}
        <div class="auth">
            <div class="card">
                <div class="auth__header text-center">
                    <a href="/">
                        <img src="{% static 'images/icon.svg' %}" alt="ico">
                    </a>
                    <h3>Регистрация</h3>
                </div>

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            <label>{{ field.label }}</label>
                            {{ field }}

                            <div class="card__header text-center">
                                {% for error in field.errors %}
                                    <div class="alert alert--error">
                                        <p class="alert__message text-center">
                                            {{ error }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="auth__actions">
                        <input class="btn btn--sub btn--lg" type="submit" value="Зарегистрироваться">
                    </div>
                </form>

                <div class="auth__alternative">
                    <p>Уже есть учетная запись?</p>
                    <a href="{% url 'login' %}">Авторизоваться</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="auth">
            <div class="card">
                <div class="auth__header text-center">
                    <a href="/">
                        <img src="{% static 'images/icon.svg' %}" alt="ico">
                    </a>
                    <h3>Авторизация</h3>
                </div>

                <form action="" method="POST" class="form auth__form">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="formInput#text">Логин</label>
                        <input type="text" name="username" class="input input--text" id="formInput#text" placeholder="Введите имя пользователя..">
                    </div>
                    <div class="form__field">
                        <label for="formInput#password">Пароль</label>
                        <input type="password" name="password" class="input input--password" id="formInput#password" placeholder="••••••••">
                    </div>

                    <div class="card__header text-center">
                        {% if error %}
                            <div class="alert alert--error">
                                <p class="alert__message text-center">
                                    {{ error }}
                                </p>
                            </div>
                        {% endif %}
                    </div>

                    <div class="auth__actions">
                        <input type="submit" value="Войти" class="btn btn--sub btn--lg">
                    </div>

                    <div class="auth__alternative">
                        <p>Нет учетной записи? </p>
                        <a href="{% url 'register' %}">Зарегистрироваться</a>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}