<section class="hero-section text-center">
    <div class="container container--narrow">
        <div class="hero-section__box">
            <h2>Поиск среди {{ title }}</h2>
        </div>
        <div class="hero-section__search">
            <form action="" id="search_form" class="form" method="GET">
                <div class="form__field">
                    <label for="formInput#search">Поиск среди {{ title }}</label>
                    <input type="text" class="input input--text" id="formInput#search" name="search_query"
                           value="{{ search_query }}" placeholder="{{ placeholder_info }}">
                </div>

                <input type="submit" value="Поиск" class="btn btn--sub btn--lg">
            </form>
        </div>
    </div>
</section>